#footer {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing .meta .bar .progress {
	background:#2D9400;
}
#footer-user .info.showing .meta .level .label {
	color:#EFEFEF;
}
#footer-user .info.showing .meta .level .value {
	color:#EFEFEF;
}
#footer-user .info.is-staff.showing .name {
	color: #0EB006;
}
#footer .shop-button {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.45) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .info.showing {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.55) 0,rgba(0, 0, 0, 0.85) 100%);
}
#chat {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#chat .emote:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), #chat .user-action:nth-child(2n+1) {
	background: "linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .user-action {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
#room .app-right {
	background: linear-gradient(to left,rgba(0, 0, 0, 0.20) 10%,rgba(0, 0, 0, 0.65) 100%);
}
.welcome .text {
	color:#B3FF00;
}
.group.host {
	color:#0B950B;
}
i.icon.icon-chat-host {
	background : url(https://dl.dropboxusercontent.com/s/t70qvqutc7043rd/SM-Host.png?dl=0);
}
.group.manager {
	color:#01D758;
}
i.icon.icon-chat-manager {
	background : url(https://dl.dropboxusercontent.com/s/w0b2u64yi1sa6xq/SM-Manager.png?dl=0);
}
.group.bouncer {
	color:#3AF24B;
}
i.icon.icon-chat-bouncer {
	background : url(https://dl.dropboxusercontent.com/s/cr6oqo3gkzluej7/SM-Bouncer.png?dl=0);
}
.group.dj {
	color:#7DCF25;
}
i.icon.icon-chat-dj {
	background : url(https://dl.dropboxusercontent.com/s/u6io4evqkij2gth/SM-Resdj.png?dl=0);
}
#user-rollover .info .level .label {
	color:#EFEFEF;
}
#user-rollover.is-staff .info .role span {
	color: #0EB006;
}
#vote {
	opacity: 0.90;
}
#woot { 
	border-radius: 100px 0 0 100px ;
        opacity: 0.60;
}
#woot .bottom { 
	border-radius: 0 0 0 100px;
        opacity: 0.60;
}
#woot.selected, #woot .bottom, #woot.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#3D9C82,rgba(61, 156, 130, 0.60) 90%);
        opacity: 0.60;
}
#meh { 
	border-radius: 0 100px 100px 0;
        opacity: 0.60;
}
#meh .bottom { 
	border-radius: 0 0 100px 0;
        opacity: 0.60;
}
#meh.selected, #meh .bottom, #meh.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#611111,rgba(97, 17, 17, 0.60) 100%)
        opacity: 0.60;
}
#grab.selected, #grab .bottom, #grab.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#FFBB00,rgba(255, 187, 0, 0.60) 100%)
        opacity: 0.60;
}
#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
	opacity: 0.60;
}
#dj-button, #dj-button.is-leave { 
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#3A3A3A,rgba(34, 34, 34, 0.60) 100%);
}
#dj-button .left {
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#14C0F3,rgba(0, 152, 196, 1) 100%);
}
#dj-button.is-leave .left {
	background: linear-gradient(to top,#F3653D,rgba(228, 61, 13, 1) 100%);
}
.torch {
	visibility: hidden;
}
#room-bar .icon-room { 
	background: url(http://i.imgur.com/X4mtIZ1.png);
}